DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True

CHAPA_SECRET_KEY=CHASECK_TEST_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CHAPA_CALLBACK_BASE_URL=http://127.0.0.1:8000
CHAPA_RETURN_URL=http://localhost:5173/payment-success/
